<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662BF4811E90D3C900DAE749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662BF49A1E90D3C900DAE749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662BF4A51E90D3C900DAE749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
